<div class="container mt-4">
  <h3>Câu Lạc Bộ của tôi</h3>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên clb</th>
        <th scope="col">Trình độ</th>
        <th scope="col">Thời gian tạo</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
        {{#each courses}}
      <tr>
        <th scope="row">{{sum @index 1 }}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
            <a class="btn btn-primary" href="/club/{{this._id}}/edit" role="button">Sửa</a>
            <a class="btn btn-danger" href="#" role="button">Xóa</a>
        </td>
      </tr>
       {{/each}}
    </tbody>
  </table>
</div>