<div class="mt-4 ">
  <div class="row ">
    {{#each courses}}
      <div class="col-md-3">
        <div class="card" style="width: 18rem;">
          <a href="club/{{this.slug}}">
            <img
              src="{{this.image}}"
              class="card-img-top"
              alt="{{this.name}}"
            />
          </a>
          <div class="card-body">
            <a href="club/{{this.slug}}">
              <h5 class="card-title">{{this.name}}</h5>
            </a>
            <p class="card-text">{{this.description}}</p>
            <p>Level: {{this.level}}</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>